<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    Upload to AWS S3 demo
  </h4>
  <div>
    <div>
        <form [formGroup]="uploadImageForm" (ngSubmit)="onSave()">
            <div>
                <div>
                    <div>
                        <div>
                          <div>
                            <div class="form-group">
                                <label>Description</label>
                                <input placeholder="Enter description"
                                    formControlName="description" maxlength="512" style="margin: 10px;">
                                <div class="form-input-error"
                                    *ngIf="(uploadImageForm.get('description')?.touched || uploadImageForm.get('description')?.dirty)">
                                    <div *ngIf="uploadImageForm.get('description')?.errors?.required">
                                        Please enter description
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div>
                              
                              <input type="file" formControlName="file" (change)="onChooseFile($event)" accept=".jpg,.png,.jpeg">
                              <label>Upload format (.jpg, .png)</label>
                              <div class="form-input-error"
                                  *ngIf="(uploadImageForm.get('file')?.touched || uploadImageForm.get('file')?.dirty)">
                                  <div
                                      *ngIf="uploadImageForm.get('file')?.errors?.required">
                                      Please choose the file
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- Create Banner section -->
            </div>
            <div>
                <div>
                    <button type="submit" class="btn">Submit</button>
                </div>
                <div class="form-input-error" *ngIf="serverError">
                    <div>
                        {{serverError}}
                    </div>
                </div>
                <div class="form-input-success"
                    *ngIf="uploadSuccess">
                    <div>
                        Image uploaded successfully.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

<router-outlet></router-outlet>
