<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    Search Image Data
  </h4>
  <div>
    <div>
        <form [formGroup]="imageSearchForm" (ngSubmit)="onSearch()">
            <div>
                <div>
                    <div>
                        <div>
                          <div>
                            <div class="search-input">
                                <label>Description</label>
                                <input placeholder="Enter description"
                                    formControlName="description" maxlength="512" style="margin: 10px;">
                            </div>
                            <div class="search-input">
                                <label>Image Type</label>
                                <select class="form-control" style="margin: 0 10px;"
                                    formControlName="imageType">
                                    <option value="">Select</option>
                                    <option value="png">PNG</option>
                                    <option value="jpeg">JPEG</option>
                                </select>
                            </div>
                            <div class="search-input">
                                <label>Min Size</label>
                                <input placeholder="Min Image Size in Bytes" type="number" (change)="onValueChange()"
                                    formControlName="minSize" min="1" style="margin: 10px;">
                                    <div class="form-input-error"
                                        *ngIf="(imageSearchForm.get('minSize')?.touched || imageSearchForm.get('minSize')?.dirty)">
                                        <div *ngIf="imageSearchForm.get('minSize')?.errors">
                                            Please enter valid min size
                                        </div>
                                    </div>
                            </div>
                            <div class="search-input">
                                <label>Max Size</label>
                                <input placeholder="Max Image Size in Bytes" (change)="onValueChange()"
                                    formControlName="maxSize" min="1" style="margin: 10px;">
                                    <div class="form-input-error"
                                        *ngIf="(imageSearchForm.get('maxSize')?.touched || imageSearchForm.get('maxSize')?.dirty)">
                                        <div *ngIf="imageSearchForm.get('maxSize')?.errors">
                                            Please enter valid max size
                                        </div>
                                    </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Create Banner section -->
            </div>
            <div>
                <div>
                    <button type="submit" class="btn">Search</button>
                </div>
                <div class="form-input-error" *ngIf="serverError">
                    <div>
                        {{serverError}}
                    </div>
                </div>
            </div>
        </form>
        <div infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown()">
            <table *ngIf="results?.length > 0">
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>File Type</th>
                    <th>File Size</th>
                  </tr>
                  <tr *ngFor="let result of results">
                    <td>{{result.id}}</td>
                    <td><img src={{result.imageUrl}} style="height: 100px;"></td>
                    <td>{{result.description}}</td>
                    <td>{{result.fileType}}</td>
                    <td>{{result.fileSize}}</td>
                  </tr>
            </table>
            <div *ngIf="results?.length == 0" style="font-weight: bold;">Sorry, no results found.</div>
        </div>
    </div>
</div>
</div>

<router-outlet></router-outlet>
